.container {
    height: 3.25rem;
    padding: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;

    background-color: var(--blue-500);
    color: var(--gray-100);

    border: none;
    border-radius: 8px;

    font-weight: bold;
    font-size: 0.875rem;
    line-height: 140%;

    transform: 0.2s;

    cursor: pointer;
}

.container:hover {
    background-color: var(--blue-300);
}