.container {
    width: 100%;
    display: flex;
    justify-content: space-between;

    margin-bottom: 1.5rem;
}

.createdTasks {
    display: flex;
    gap: 5px;

    color: var(--blue-300);
    font-size: 0.875rem;
}

.doneTasks {
    display: flex;
    gap: 5px;

    color: var(--purple-300);
}

.createdTasks span,
.doneTasks span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 19px;
    /* max-height: 1.188rem; */
    padding: 2px 8px;

    background-color: var(--gray-400);
    color: var(--gray-200);

    border-radius: 62.438rem;
}